In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
file="C:\\Users\\Home\\Downloads\\compound quality.csv"

In [4]:
df=pd.read_csv(file)

In [5]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [6]:
print(df.shape)

(4898, 12)

In [7]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

In [8]:
X=df.drop(['quality'],axis=1)

In [9]:
X.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9

In [10]:
y=df['quality'].values
y

array([6, 6, 6, ..., 6, 7, 6], dtype=int64)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,stratify=y,random_state=1)

In [13]:
from sklearn.neighbors import KNeighborsClassifier 
#Create KNN classifier
knn=KNeighborsClassifier(n_neighbors=8)
#Fit the classifier to data
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=8, p=2,
           weights='uniform')

In [14]:
predict=knn.predict(X_test)

In [15]:
knn.score(X_test,y_test)

0.46122448979591835

In [16]:
knn.score(X_train,y_train)

0.5956826137689615

In [17]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predict)
(y_test!=predict).sum()

792

In [18]:
best_score=0
for i in range(1,10):
    for j in range(1,20):
        X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,stratify=y,random_state=i)
        knn=KNeighborsClassifier(n_neighbors=j)
        knn.fit(X_train,y_train)
        if(knn.score(X_test,y_test)>best_score):
            best_score=knn.score(X_test,y_test)

In [19]:
best_score

0.5857142857142857

In [20]:
df.corr()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
fixed acidity,1.000000,-0.022697,0.289181,0.089021,0.023086,-0.049396,0.091070,0.265331,-0.425858,-0.017143,-0.120881,-0.113663
volatile acidity,-0.022697,1.000000,-0.149472,0.064286,0.070512,-0.097012,0.089261,0.027114,-0.031915,-0.035728,0.067718,-0.194723
citric acid,0.289181,-0.149472,1.000000,0.094212,0.114364,0.094077,0.121131,0.149503,-0.163748,0.062331,-0.075729,-0.009209
residual sugar,0.089021,0.064286,0.094212,1.000000,0.088685,0.299098,0.401439,0.838966,-0.194133,-0.026664,-0.450631,-0.097577
chlorides,0.023086,0.070512,0.114364,0.088685,1.000000,0.101392,0.198910,0.257211,-0.090439,0.016763,-0.360189,-0.209934
free sulfur dioxide,-0.049396,-0.097012,0.094077,0.299098,0.101392,1.000000,0.615501,0.294210,-0.000618,0.059217,-0.250104,0.008158
total sulfur dioxide,0.091070,0.089261,0.121131,0.401439,0.198910,0.615501,1.000000,0.529881,0.002321,0.134562,-0.448892,-0.174737
density,0.265331,0.027114,0.149503,0.838966,0.257211,0.294210,0.529881,1.000000,-0.093591,0.074493,-0.780138,-0.307123
pH,-0.425858,-0.031915,-0.163748,-0.194133,-0.090439,-0.000618,0.002321,-0.093591,1.000000,0.155951,0.121432,0.099427
sulphates,-0.017143,-0.035728,0.062331,-0.026664,0.016763,0.059217,0.134562,0.074493,0.155951,1.000000,-0.017433,0.053678
alcohol,-0.120881,0.067718,-0.075729,-0.450631,-0.360189,-0.250104,-0.448892,-0.780138,0.121432,-0.017433,1.000000,0.435575
quality,-0.113663,-0.194723,-0.009209,-0.097577,-0.209934,0.008158,-0.174737,-0.307123,0.099427,0.053678,0.435575,1.000000

In [21]:
X=X=df.drop(['quality','citric acid','free sulfur dioxide'],axis=1)

In [29]:
best_score=0
for i in range(1,10):
    for j in range(1,100):
        X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,stratify=y,random_state=i)
        knn=KNeighborsClassifier(n_neighbors=j)
        knn.fit(X_train,y_train)
        if(knn.score(X_test,y_test)>best_score):
            best_score=knn.score(X_test,y_test)

In [30]:
best_score

0.5870748299319728

In [76]:
from sklearn.model_selection import GridSearchCV
s=0
for i in range (20,40):
    param_grid={'n_neighbors':list(range(50,100,2)),'weights':['uniform','distance'],'metric':['euclidean','manhattan']}
    grid_search=GridSearchCV(KNeighborsClassifier(),param_grid,cv=i,verbose=1,n_jobs=-1)
    s=i

In [78]:
grid_search.fit(X_train,y_train)

Fitting 39 folds for each of 100 candidates, totalling 3900 fits

C:\Users\Home\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:652: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=39.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  43 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done 343 tasks      | elapsed:   11.4s
[Parallel(n_jobs=-1)]: Done 843 tasks      | elapsed:   27.6s
[Parallel(n_jobs=-1)]: Done 1543 tasks      | elapsed:   54.7s
[Parallel(n_jobs=-1)]: Done 2443 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 3543 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done 3893 out of 3900 | elapsed:  2.5min remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 3900 out of 3900 | elapsed:  2.5min finished
C:\Users\Home\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=39, error_score='raise-deprecating',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'n_neighbors': [50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98], 'weights': ['uniform', 'distance'], 'metric': ['euclidean', 'manhattan']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=1)

In [79]:
grid_search.best_score_

0.6131855309218203

In [80]:
grid_search.best_params_

{'metric': 'manhattan', 'n_neighbors': 78, 'weights': 'distance'}

In [81]:
s

39